<footer class="footer " style="background-color: #03060D ; padding: 1em;">
    <div class="row ">
          <div class="col-12 text-primary text-center">
              Poered By D cube Tech Ventures
          </div>
    </div>
</footer>
