<footer class="footer " style="background-color: #03060D ; padding: 1em;">
                <div class="row ">
                       <div class="col-12 text-left pl-3">
                            <a href="/privacy-policy"  class="text-primary">Privacy and Policy</a> | 
                            <a href="/terms-condition" class="text-primary">Terms and Conditions</a>
                     </div>
                    
                </div>
</footer>
