<div class="row">
    <div class="col-12 ">
        <div id="accordion">

            <div class="card p-0">
              
              <div id="collapseOne" class="collapse bg-body-color <%= title === 'home' ? 'show': '' %>" data-parent="#accordion">
                <div class="card-body tarnsparent">
                  <h3 class="text-center get-a-quote-bottom-slider bg-primary text-dark p-2" style="margin: -20px !important"><u>Get a Quote</u></h3>
                  <hr>
                  <div class="row">
                      <div class="col-sm-6 col-md-3">
                          <ul class="list-group ">
                            <li class="list-group-item   border-0" ><a href="/get-a-quote/cars"><i class="fas fa-car-side mr-2 icons p-2 border bg-dark tet-primary rounded-circle "></i> Cars</a></li>
                            <li class="list-group-item   border-0" ><a href="/get-a-quote/bike"><i class="fas fa-motorcycle mr-2 icons p-2 border bg-dark tet-primary rounded-circle "></i> Bikes</a></li>
                            <li class="list-group-item   border-0" ><a href="/get-a-quote/furniture"><i class="fas fa-couch mr-2 icons p-2 border bg-dark tet-primary rounded-circle "></i> Furniture</a></li>
                            <li class="list-group-item   border-0" ><a href="/get-a-quote/boat"><i class="fa fa-ship mr-2 icons p-2 border bg-dark tet-primary rounded-circle "></i> Boat</a></li>
                            <li class="list-group-item   border-0" ><a href="/get-a-quote/refrigrated"><i class="far fa-snowflake mr-2 icons p-2 border bg-dark tet-primary rounded-circle "></i> Refrigrated</a></li>
                            
                        </ul>
                      </div>
                      <div class="col-sm-6 col-md-3">
                        <ul class="list-group ">
                            <li class="list-group-item   border-0" ><a href="/get-a-quote/home"><i class="fas fa-home mr-2 icons p-2 border bg-dark tet-primary rounded-circle "></i>Home</a></li>
                            <li class="list-group-item   border-0" ><a href="/get-a-quote/pallets"><i class="fas fa-boxes mr-2 icons p-2 border bg-dark tet-primary rounded-circle "></i>Pallets</a></li>
                            <li class="list-group-item   border-0" ><a href="/get-a-quote/Waste"><i class="fa fa-trash mr-2 icons p-2 border bg-dark tet-primary rounded-circle "></i>Waste</a></li>
                            <li class="list-group-item   border-0" ><a href="/get-a-quote/trucks"><i class="fas fa-truck mr-2 icons p-2 border bg-dark tet-primary rounded-circle "></i>Truck</a></li>
                            <li class="list-group-item   border-0" ><a href="/get-a-quote/warehouse"><i class="fas fa-cubes mr-2 icons p-2 border bg-dark tet-primary rounded-circle "></i>Warehouse</a></li>
                            
                        </ul>
                      </div>
                      <div class="col-sm-6 col-md-3">
                        <ul class="list-group ">
                            <li class="list-group-item   border-0" ><a href="/get-a-quote/other-vehicle"><i class="fas fa-truck-monster mr-2 icons p-2 border bg-dark tet-primary rounded-circle "></i>Other Vehicles</a></li>
                            <li class="list-group-item   border-0" ><a href="/get-a-quote/container"><i class="fas fa-dolly mr-2 icons p-2 border bg-dark tet-primary rounded-circle "></i>Container</a></li>
                            <li class="list-group-item   border-0" ><a href="/get-a-quote/houlage"><i class="fas fa-people-carry mr-2 icons p-2 border bg-dark tet-primary rounded-circle "></i>Houlage</a></li>
                            <li class="list-group-item   border-0" ><a href="/get-a-quote/livestock"><i class="fa fa-paw mr-2 icons p-2 border bg-dark tet-primary rounded-circle "></i> Pets & Livestock</a></li>
                        </ul>
                      </div>
                      <div class="col-sm-6 col-md-3">
                        <ul class="list-group ">
                            <li class="list-group-item   border-0" ><a href="/get-a-quote/heavy"><i class=" fas fa-truck-loading  mr-2 icons p-2 border bg-dark tet-primary rounded-circle "></i>Heavy</a></li>
                            <li class="list-group-item   border-0" ><a href="/get-a-quote/agriculture"><i class="	fas fa-seedling mr-2 icons p-2 border bg-dark tet-primary rounded-circle "></i>Agriculture</a></li>
                            <li class="list-group-item   border-0" ><a href="/get-a-quote/mining-machine"><i class="fas fa-truck-monster mr-2 icons p-2 border bg-dark tet-primary rounded-circle "></i>Machines</a></li>
                            <li class="list-group-item   border-0" ><a href="/get-a-quote/automotive"><i class="fas fa-subway mr-2 icons p-2 border bg-dark tet-primary rounded-circle "></i>Automotive</a></li>
                        </ul>
                      </div>
                  </div>
                </div>
              </div>
              <div class="card-header p-0 text-center">
                <h3 class="card-link bg-primary p-2 m-0" data-toggle="collapse" href="#collapseOne">
                    &#9776;
                </h3>
              </div>
            </div>
        </div>
    </div>
</div>
<div class="row bg-dark mb-30 ">
    <div class="col-12 link_desc">

        <div class="row pb-5 ">

            <div class="col-md-4 mt-3">

                <div class="logo">
                
                    <div>
                        <a href="/home" class="logo">
                            <img src="/public/assets/images/logo-light.svg" alt="hvh" height="50" width="200">
                        </a>
                    </div>
                    <div class="text-primary " style="font-size: 9.5px;" ></div>
                </div>

                <p class="mt-3 text-left">
                    Truck Loads is a leading market place for transporter and wharehouse solutions.
                </p>
                <div class="row mt-4">
                    <div class="col-12">
                        <i class="ti-facebook text-primary link  p-2"></i>
                        <i class="ti-twitter text-primary link p-2"></i>
                        <i class="ti-google text-primary link p-2"></i>
                        <i class="ti-linkedin text-primary link p-2"></i><br>
                    </div>
                </div>

            </div>
            <div class="col-md-4 mt-3">
                <h3 class="font-weight-lighter">Quick Links</h3>
                <div class="">
                    <span class="text-underline"></span>
                </div>

                <div class="row mt-4">
                    <div class="col-6 text-left">
                        <ul class="list-style2 list-group get-a-quote-link-container">
                            <li class="list-group-item"><a href="/home">Home</a></li>
                            <li class="list-group-item"><a href="/jobs">Jobs</a></li>
                            <li class="list-group-item"><a href="/how-it-work">How It Work</a></li>
                        </ul>
                    </div>
                    <div class="col-6 text-left">
                        <ul class="list-style2 list-group get-a-quote-link-container">
                            <li class="list-group-item"><a href="/chat">Chat</a></li>
                            <li class="list-group-item"><a href="/feedback">Feedback</a></li>
                            
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-md-4 mt-3">
                <h3 class="font-weight-lighter">Get in Touch</h3>

                <div class="">
                    <span class="text-underline"></span>
                </div>
                <div class=" text-left mt-4 touch">
                    <i class="fas fa-map-marker-alt mb-4"></i><span class="ml-3">8 Lawn Ct, Craigieburn VIC 3064, Australia.</span><br>
                    <i class="far fa-envelope mb-4"></i><span class="ml-3">support@truckloads.net.au</span><br>
                    <i class="fas fa-mobile-alt mb-4"></i><span class="ml-3">+61 3 9465 2127</span><br>
                </div>


            </div>
        </div>

    </div>
</div>

</div>

<link rel="stylesheet" href="/public/assets/css/footer-link.css">