<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
    <div class="slimscroll-menu" id="remove-scroll">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu" id="side-menu">
                <li class="text-primary">Control Panel</li>
                
                 <li>
                    <a href="/admin/dashboard" class="waves-effect">
                        <i class="ti-home"></i>
                        <span> Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/shippers" class="waves-effect">
                        <i class="ti-package"></i>
                        <span>Shippers</span>
                    </a>
                </li> 
                <li>
                    <a href="/admin/carriers" class="waves-effect">
                        <i class="ti-truck"></i>
                        <span>Carriers</span>
                    </a>
                </li> 
                <li>
                    <a href="/admin/payment" class="waves-effect">
                        <i class="ti-agenda"></i>
                        <span>Payment</span>
                    </a>
                </li> 
                <li>
                    <a href="/admin/email" class="waves-effect">
                        <i class="ti-email"></i>
                        <span>Email</span>
                    </a>
                </li> 
                <li>
                    <a href="/admin/email" class="waves-effect">
                        <i class="far fa-comment-dots"></i>
                        <span>Feedback</span>
                    </a>
                </li> 
                

            </ul>

            <ul class="metismenu" id="side-menu-small">
                <li >
                    <a href="/admin/dashboard" class="waves-effect">
                        <i class="ti-home"></i>
                    </a>
                </li>
                <li >
                    <a href="/admin/shippers" class="waves-effect">
                        <i class="ti-package"></i>
                    </a>
                </li>
                <li >
                    <a href="/admin/carriers" class="waves-effect">
                        <i class="ti-truck"></i>
                    </a>
                </li>
                <li >
                    <a href="/admin/payment" class="waves-effect">
                        <i class="ti-agenda"></i>
                    </a>
                </li>
                <li >
                    <a href="/admin/email" class="waves-effect">
                        <i class="ti-email"></i>
                    </a>
                </li>
                <li >
                    <a href="/admin/feedback" class="waves-effect">
                        <i class="far fa-comment-dots"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->