<!-- <div class="categories" >
    <div class="row shadow">
        <div class="col-md-4 ">
            <div class="row ">
                <div class="col-6 dark border  text-center p-4">
                    <div class="w-100">
                        <img height="50" width="50" class="categories_logo"
                            src="/public/assets/icons/icons/car.svg"><br><br>
                        <span class="text-primary">Cars</span>
                    </div>
                </div>
                <div class="col-6 dark border  text-center p-4">
                    <div class="w-100">
                        <img height="50" width="50" class="categories_logo"
                            src="/public/assets/icons/icons/bike.svg"><br><br>
                        <span class="text-primary">Bikes & cycles</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-6 dark  border  text-center p-4">
                    <div class="w-100">
                        <img height="50" width="50" class="categories_logo"
                            src="/public/assets/icons/icons/furniture.svg"><br><br>
                        <span class="text-primary">Furniture & Sports</span>
                    </div>
                </div>
                <div class="col-6 dark border text-center p-4">
                    <div class="w-100">
                        <img height="50" width="50" class="categories_logo"
                            src="/public/assets/icons/icons/boat.svg"><br><br>
                        <span class="text-primary">Boat</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-6 dark border  text-center p-4">
                    <div class="w-100">
                        <img height="50" width="50" class="categories_logo"
                            src="/public/assets/icons/icons/house.svg"><br><br>
                        <span class="text-primary">Home or House</span>
                    </div>
                </div>
                <div class="col-6 dark border text-center p-4">
                    <div class="w-100">
                        <img height="50" width="50" class="categories_logo"
                            src="/public/assets/icons/icons/pallet.svg"><br><br>
                        <span class="text-primary">Pallet & Pakages</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-6  dark border  text-center p-4">
                    <div class="w-100">
                        <img height="50" width="50" class="categories_logo"
                            src="/public/assets/icons/icons/waste.svg"><br><br>
                        <span class="text-primary">Waste & Recycle</span>
                    </div>
                </div>
                <div class="col-6  dark border  text-center p-4">
                    <div class="w-100">
                        <img height="50" width="50" class="categories_logo"
                            src="/public/assets/icons/icons/truck.svg"><br><br>
                        <span class="text-primary">Truck</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-6  dark border  text-center p-4">
                    <div class="w-100">
                        <img height="50" width="50" class="categories_logo"
                            src="/public/assets/icons/icons/otherVehicle.svg"><br><br>
                        <span class="text-primary">Other Vehicle</span>
                    </div>
                </div>
                <div class="col-6  dark border  text-center p-4">
                    <div class="w-100">
                        <img height="50" width="50" class="categories_logo"
                            src="/public/assets/icons/icons/container.svg"><br><br>
                        <span class="text-primary">Container</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-6  dark border  text-center p-4">
                    <div class="w-100">
                        <img height="50" width="50" class="categories_logo"
                            src="/public/assets/icons/icons/haulage.svg"><br><br>
                        <span class="text-primary">Houlage (FTL)</span>
                    </div>
                </div>
                <div class="col-6  dark border  text-center p-4">
                    <div class="w-100">
                        <img height="50" width="50" class="categories_logo"
                            src="/public/assets/icons/icons/livestock.svg"><br><br>
                        <span class="text-primary">Pets & Livestock</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-6  dark border  text-center p-4">
                    <div class="w-100">
                        <img height="50" width="50" class="categories_logo"
                            src="/public/assets/icons/icons/oversize.svg"><br><br>
                        <span class="text-primary">Oversize or Heavy</span>
                    </div>
                </div>
                <div class="col-6  dark border  text-center p-4">
                    <div class="w-100">
                        <img height="50" width="50" class="categories_logo"
                            src="/public/assets/icons/icons/agriculture.svg"><br><br>
                        <span class="text-primary">Agriculture</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-6  dark border  text-center p-4">
                    <div class="w-100">
                        <img height="50" width="50" class="categories_logo"
                            src="/public/assets/icons/icons/Machine.svg"><br><br>
                        <span class="text-primary">Machine & Mining</span>
                    </div>
                </div>
                <div class="col-6  dark border  text-center p-4">
                    <div class="w-100">
                        <img height="50" width="50" class="categories_logo"
                            src="/public/assets/icons/icons/automation.svg"><br><br>
                        <span class="text-primary">Automotive</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-6  dark border  text-center p-4">
                    <div class="w-100">
                        <img height="50" width="50" class="categories_logo"
                            src="/public/assets/icons/icons/temprature.svg"><br><br>
                        <span class="text-primary">Refrigerated</span>
                    </div>
                </div>
                <div class="col-6  dark border text-center p-4">
                    <div class="w-100">
                        <img height="50" width="50" class="categories_logo"
                            src="/public/assets/icons/icons/otherProduct.svg"><br><br>
                        <span class="text-primary">Other Generals</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="/public/assets/css/home/categories.css"> -->
