<div class="row core_values">
    <div class="textwidget">
        <h3 style="text-align: center; font-size: 44px;">OUR CORE VALUES</h3>
        <p style="text-align: center;"><span style="color: #F7DC5F;"><strong>WRITTEN BY CARGOPRESS
                    CEO</strong></span></p>
        <hr class="hr-quote">
        <p class="text-center core_desc">Core values are the fundamental beliefs of a person or organization. The core
            values are the guiding principles that t dictate behavior and action. Core values can help people to
            know what is right from wrong, they can help companies to determine if they are on the right path and
            fulfilling their business goals; and they create an unwavering and unchanging guide. There are many
            different types of core values and many different examples of core values depending upon the context.
        </p>
        
        <p style="text-align: center;">
               <img class=""
                    src="https://demo.proteusthemes.com/cargopress/wp-content/uploads/sites/24/2015/05/signature.png"
                    alt="signature" width="232" height="58">
        </p>
    </div>
</div>


<link rel="stylesheet" href="/public/assets/css/home/core.css">
