<% include ../../Partials/HeaderRoot  %>
<% include ../../Partials/Header %>



<div class="wrapper ">
    <% include ../loder %>

<% include ../alert %>
   
    <div class="row pl-2 pr-2">
        <div class="col-12 slider">
            <div class="container">
            <h1 class="text-primary banner">HOW IT WORKS</h1>
            </div>
        </div>
    </div>
    <div class="container">
    <div class="row p-2 ">
        <div class="col-12 ">
            <h3 class="">Shippers</h3>
            <p>
                Receive quotations for transport services by posting your request for quotation. Those carriers that may be of assistance respond directly to you with quotation (Varying price & Avaliability)

                <br>
                <span class="font-weight-bolder">From  Best of All- No commission to Best of All – Get free Quotes</span>
            </p>


        </div>


    </div>

    <div class="row pt-2 pl-2 pr-2 pb-5 bg-white">
        <div class="col-md-6 mt-5">
            <img class="img-thumbnail border-0 image" src="/public/assets/images/gallery/content-1.svg">
        </div>
        <div class="col-md-6 mt-5">
            <h2  class="  ">Register</h2>
            <p>Integration aute irure design in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non design proident.</p>
            <ul class="list-style2 list-group">
                <li class="list-group-item border-0 ">Register Free for shippers</li>
                <li class="list-group-item border-0">Tell us about your Quote</li>
                <li class="list-group-item border-0">Post a Job </li>
                <li class="list-group-item border-0">Get verified Transporter for your Job</li>
            </ul>
        </div>
        
        <div class="col-md-6 mt-5">
            <h2 class="  ">Post a Jobs</h2>
            <p>Integration aute irure design in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non design proident.</p>
            <ul class="list-style2 list-group">
                <li class="list-group-item border-0 ">Seect a Get a Quote </li>
                <li class="list-group-item border-0">Post a Job by Filling Accurate Details </li>
                <li class="list-group-item border-0">Add Pickup And Delivery Points</li>
                <li class="list-group-item border-0">Post a Job, and it is live</li>
            </ul>
        </div>
        <div class="col-md-6 mt-5">
            <img class="img-thumbnail border-0 image" src="/public/assets/images/gallery/content-2.svg">
        </div>

        <div class="col-md-6 mt-5">
            <img class="img-thumbnail border-0 image"  src="/public/assets/images/gallery/content-3.svg">
        </div>
        <div class="col-md-6 mt-5">
            <h2 class="  " >Quote</h2>
            <p>Integration aute irure design in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non design proident.</p>
            <ul class="list-style2 list-group">
                <li class="list-group-item border-0 ">Quote direct to customers on your preferred jobs</li>
                <li class="list-group-item border-0">Tell customers all about your quality service in your quote terms</li>
                <li class="list-group-item border-0">Use Truck Loads messaging to clarify the finer details with customers</li>
            </ul>
        </div>
    </div>
</div>
</div>

</div>

<% include ../../Partials/FooterLink  %>
<% include ../../Partials/Footer %>
<% include ../../Partials/FooterRoot  %>

<link rel="stylesheet" href="/public/assets/css/how-it-work/shippers.css">