<% include ./category %>


<div class="form-group mb-1 " >
    <label for="weight" >Weight (kg)</label> 
    <input class="form-control" type="number"  name="weight" min="0" placeholder="0 mm" step="5" id="weight">
  </div>