
<% include ./category %>

<% include ./model %>

 <div class="custom-control mb-2 mt-3 custom-switch">
    <input type="checkbox" class="custom-control-input" id="registered">
    <label class="custom-control-label" for="registered" name="registered">Is it Registered?</label>
  </div>

  
 <div class="custom-control mb-2 mt-2 custom-switch">
    <input type="checkbox" class="custom-control-input" id="registered_and_insured">
    <label class="custom-control-label" for="registered_and_insured" name="registered_and_insured">Is it Registered and Insured?</label>
  </div>

  
 <div class="custom-control mb-2 mt-2 custom-switch">
    <input type="checkbox" class="custom-control-input" id="empty">
    <label class="custom-control-label" for="empty" name="empty">Is it Empty?</label>
  </div>

  <div class="custom-control mb-2 mt-2 custom-switch">
    <input type="checkbox" class="custom-control-input" id="modified">
    <label class="custom-control-label" for="modified" name="modified">Is it modified?</label>
  </div>

  