<div class="form-group mb-1">
    <label for="<%= category %>" ><%= category %>:</label>
    <select id="<%= category %>" class="form-control" name="<%= category %>">
        <option selected="selected" value="0">BMW</option>
        <option value="1" >Mercedes</option>
        <option value="3" >Cadillac</option>
        <option value="4">Rolls Royce</option>
    </select>
 </div>
 
 