<% include ./category %>


<div class="row">
    <div class="col-sm-6">
        <div class="form-group mb-1 " >
            <label for="quantity" >Quantity</label> 
            <input class="form-control" type="number"  name="quantity" min="0" placeholder="0"  id="quantity">
          </div>
          
    </div>
    <div class="col-sm-6">
        <div class="form-group mb-1 " >
            <label for="weight" >Weight (kg)</label> 
            <input class="form-control" type="number"  name="weight" min="0" placeholder="0"  id="weight">
          </div>
    </div>
    <div class="col-12">
        <div class="custom-control mb-2 mt-2 custom-switch">
            <input type="checkbox" class="custom-control-input" id="msic">
            <label class="custom-control-label" for="msic" name="msic">Transport provide required MSIC card?</label>
          </div>
        
          
         <div class="custom-control mb-2 mt-2 custom-switch">
            <input type="checkbox" class="custom-control-input" id="supply-container">
            <label class="custom-control-label" for="supply-container" name="supply-container">Transport Provider to supply Container?</label>
          </div>
        
          <div class="custom-control mb-2 mt-2 custom-switch">
            <input type="checkbox" class="custom-control-input" id="returned">
            <label class="custom-control-label" for="returned" name="returned">Container needs to be Returned?</label>
          </div>
    </div>
</div>