<% include ./category %>

 <div class="form-group mb-1 " >
    <label for="quantity" >Quantity</label> 
    <input class="form-control" type="number"  name="quantity" min="0" placeholder="0" step="5" id="quantity">
  </div>
  
  
<% include ./measure %>