<% include ./category %>

<div class="form-group mb-1 " >
    <label for="quantity" >Quantity</label> 
    <input class="form-control" type="number"  name="quantity" min="0" placeholder="0"  id="quantity">
  </div>

  <div class="custom-control mb-2 mt-3 custom-switch">
    <input type="checkbox" class="custom-control-input" id="document">
    <label class="custom-control-label" for="document" name="document">Do you have valid travel documents?</label>
  </div>

  <div class="custom-control mb-2 mt-2 custom-switch">
    <input type="checkbox" class="custom-control-input" id="transit-box">
    <label class="custom-control-label" for="transit-box" name="transit-box">Do you have transit box?</label>
  </div>

  

  