<div class="row mt-2">
    <div class="col-sm-6">
        <div class="form-group mb-1 " >
            <label for="length" >Length (mm)</label> 
            <input class="form-control" type="number"  name="length" min="0"  placeholder="0 mm"  id="length" required>
          </div>
        </div>
    <div class="col-sm-6">
        <div class="form-group mb-1 " >
            <label for="width" >Width (mm)</label> 
            <input class="form-control" type="number"  name="width" min="0" placeholder="0 mm"  id="width" required>
          </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group mb-1 " >
            <label for="height" >Height (mm)</label> 
            <input class="form-control" type="number"  name="height" min="0" placeholder="0 mm"  id="height" required>
          </div>
        </div>
    <div class="col-sm-6">
        <div class="form-group mb-1 " >
            <label for="weight" >Weight (kg)</label> 
            <input class="form-control" type="number"  name="weight" min="0" placeholder="0 kg"  id="weight" required>
          </div>
    </div>
</div>