<div class="form-group mb-1">
    <label for="model">Model:</label>
    <select id="model" class="form-control" name="model">
        <option selected="selected" value="0">C-Class</option>
        <option value="1" >E-Class</option>
        <option value="3" >S-Class</option>
        <option value="4">Maybach</option>
    </select>
 </div>

 <div class="form-group mb-1">
    <label for="body">Body Type:</label>
    <select id="body" class="form-control" name="body">
        <option selected="selected" value="0">Fabire</option>
        <option value="1" >Steel</option>
        <option value="3" >Plastic</option>
        <option value="4">other</option>
    </select>
 </div>
