<% include ./category %>

<div class="form-group mb-1">
    <label for="quote-to-include" >Quote to include:</label>
    <select id="quote-to-include" class="form-control" name="quote-to-include">
        <option selected="selected" value="0">Transport and Disposal</option>
        <option value="1" >Transport</option>
    </select>
 </div>
 
 