<% include ../Partials/HeaderRoot  %>
<% include ../Partials/Header %>

    <div class="wrapper-page ">
        <% include ./loder %>

        <div class="card overflow-hidden account-card mx-3 border shadow-lg">
            <div class="bg-primary p-4 text-white text-center position-relative">
                <h4 class="font-20 text-dark m-b-5">Welcome to Truck Loads!</h4>
                <p class="text-dark mb-4">Change Password.</p>

                <a class="logo logo-admin"><img src="/public/assets/images/logo-sm.svg" height="26" alt="logo"></a>
            </div>
            <div class="account-card-content"> 
                
                <% include ../Forms/change-password %>
            </div>
        </div>


    </div>
    <!-- end wrapper-page -->

<script>
    jQuery(() => {
        $('#change-password-form').on('submit', (e) => {
            e.preventDefault();
            let email = $('#email').val();
            let newPassword = $('#password').val();
            let confirmPassword = $('#confirm-password').val();

            if(newPassword.trim() !== confirmPassword.trim()) {
                return alert('Passwords Field Do not Matched!')
            }

            
            $('.change-password-button').attr('disabled', true);
            $('.change-password-button').text('Loading ...');

            Controller.changePassword({
                'email': email,
                'password': newPassword
            });
        })
    })
</script>
<% include ../Partials/FooterLink  %>
<% include ../Partials/Footer  %>
<% include ../Partials/FooterRoot  %>
