<% include ../Partials/HeaderRoot  %>
<% include ../Partials/Header %>

    <div class="wrapper-page">
        <% include ./loder %>

        <h1>Internal Server Error!</h1>

    </div>
    <!-- end wrapper-page -->

    <% include ../Partials/FooterLink  %>

<% include ../Partials/Footer  %>
<% include ../Partials/FooterRoot  %>
