<% include ../Partials/HeaderRoot  %>
<% include ../Partials/Header %>

    <div class="wrapper-page ">
        <% include ./loder %>

        <div class="card overflow-hidden account-card mx-3 border shadow-lg">
            <div class="bg-primary p-4 text-white text-center position-relative">
                <h4 class="font-20 text-dark m-b-5">Welcome to Truck Loads!</h4>
                <p class="text-dark mb-4">Enter your Email to get Forget Password Link.</p>

                <a class="logo logo-admin"><img src="/public/assets/images/logo-sm.svg" height="26" alt="logo"></a>
            </div>
            <div class="account-card-content"> 
                
                <% include ../Forms/forget-password %>
            </div>
        </div>


    </div>
    <!-- end wrapper-page -->

<script>
    jQuery(() => {
        $('#forget-password-form').on('submit', (e) => {
            e.preventDefault();
            let email = $('#email').val();

            $('.forget-password-button').attr('disabled', true);
            $('.forget-password-button').text('Loading ...');

            Controller.forgetPassword({'email': email});
        })
    })
</script>
<% include ../Partials/FooterLink  %>
<% include ../Partials/Footer  %>
<% include ../Partials/FooterRoot  %>
