<div class="row mt-5 mb-5">
    <div class="col-12">
        <h1 class="text-center">
            Our Experts Minds
        </h1>
    </div>

    <div class="col-lg-6">
        <div class="row mt-5">
            <div class="col-sm-6 cont">
                <div class="img-container d-flex justify-content-center">
                    <img src="/public/assets/images/gallery/team-02.jpg" class="rounded-circle" height="150" width="150">
                </div>
                <div class="details-container ">
                    <h2 class="text-center">Elbert<br>
                        <span class="small">Founder</span>
                    </h2>
                    <div class="links text-center">
                        <i class="ti-facebook p-2 link"></i>
                        <i class="ti-twitter p-2 link"></i>
                        <i class="ti-google p-2 link"></i>
                        <i class="ti-linkedin p-2 link"></i>
                    </div>
                    
                </div>
            </div>
            <div class="col-sm-6 cont">
                <div class="img-container  d-flex justify-content-center">
                    <img src="/public/assets/images/gallery/team-01.jpg" class="rounded-circle" height="150" width="150">
                </div>
                <div class="details-container ">
                    <h2 class="text-center">Rashmika<br>
                        <span class="small">Co-Founder</span>
                    </h2>
                    <div class="links text-center">
                        <i class="ti-facebook   p-2 link"></i>
                        <i class="ti-twitter   p-2 link"></i>
                        <i class="ti-google   p-2 link"></i>
                        <i class="ti-linkedin   p-2 link"></i>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="row mt-5">
            <div class="col-sm-6 cont">
                <div class="img-container d-flex justify-content-center ">
                    <img src="/public/assets/images/gallery/team-03.jpg" class="rounded-circle" height="150" width="150">
                </div>
                <div class="details-container ">
                    <h2 class="text-center">Cassie<br>
                        <span class="small">Developer</span>
                    </h2>
                    <div class="links text-center">
                        <i class="ti-facebook p-2 link"></i>
                        <i class="ti-twitter p-2 link"></i>
                        <i class="ti-google p-2 link"></i>
                        <i class="ti-linkedin p-2 link"></i>
                    </div>
                    
                </div>
            </div>
            <div class="col-sm-6 cont">
                <div class="img-container  d-flex justify-content-center">
                    <img src="/public/assets/images/gallery/team-04.jpg" class=" rounded-circle" height="150" width="150">
                </div>
                <div class="details-container ">
                    <h2 class="text-center">Rashmika<br>
                        <span class="small">Co-Founder</span>
                    </h2>
                    <div class="links text-center">
                        <i class="ti-facebook p-2 link"></i>
                        <i class="ti-twitter p-2 link"></i>
                        <i class="ti-google p-2 link"></i>
                        <i class="ti-linkedin p-2 link" ></i>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 p-5 ">
        
    </div>
    <!-- <div class="col-md-3 p-5 ">
        
    </div><div class="col-md-3 p-5 ">
        
    </div><div class="col-md-3 p-5 ">
        
    </div> -->
</div>

<link rel="stylesheet" href="/public/assets/css/team.css">