<% include ../Partials/HeaderRoot  %>
<% include ../Partials/Header %>

<div class="wrapper">
    <% include ./loder %>
    <div class="row pl-2 pr-2">
        <div class="col-12 text-center mt-3">
            <div class="logo">

                <div>
                    <a href="/home" class="logo">
                        <img src="/public/assets/images/logo-light.svg" height="100" alt="hvh" class="logo-large">
                    </a>
                </div>
                <div class="text-primary logo-lines">Leading Market Place For Transport & Warehouse Solutions</div>
            </div>
        </div>
        <div class="col-12 ">
            <hr>
            <p class="bg-primary p-3">
                Welcome to Truck Loads! Truck Loads connects people looking to transport or store goods with those who provide these services. Truck Loads works through a bidding process that lets users set the terms and the price of a job and easily come to an agreement. 
            </p>      

            <h6>WHAT PARTS OF THESE TERMS APPLY TO ME? </h6>
            <p>
                These terms govern your use of Truck Loads (<b class="font-weight-bolder">Platform</b>) and any other services made available through the Platform. By using the Platform, you agree to be bound by these terms which forms a binding contractual agreement between you, the user (<b class="font-weight-bolder">User</b>), and us, Truck Loads Australiawide Pty Ltd (ACN 641 441 410) (<b class="font-weight-bolder">Truck Loads</b>, <b class="font-weight-bolder">we</b> or <b class="font-weight-bolder">us</b>).  <br>
                The remainder of these terms are divided into three parts:
            </p>
            <ol style="list-style: disc;">
                <li>Part 1 (<b class="font-weight-bolder">All Users</b>), which sets out terms that apply to all Users;</li>
                <li>Part 2 (<b class="font-weight-bolder">Service Providers</b>), which sets out additional terms that apply to Service Providers, being transport providers or warehouse providers; and</li>
                <li>Part 3 (<b class="font-weight-bolder">Customers</b>), which sets out additional terms that apply to Customers, being people or businesses who require goods transported or warehoused.</li>
            </ol>
            <p>
                If you intend to use the Platform as a Service Provider, only Parts 1 and 2 of these terms will apply to you. <br>
                If you intend to use the Platform as a Customer, only Parts 1 and 3 of these terms will apply to you. <br>
                When we talk about the "Services" in these terms, we are referring to the marketplace services we provide through our mobile applications available on the Apple iOS Store and the Google Play Store, our website and any associated services we offer.<br>
                If you access or download our mobile application from the Apple App Store, you agree to Apple’s Licensed Application End User License Agreement and any Usage Rules set forth in the App Store Terms of Service. If you access or download our mobile phone from the Google Play Store, you agree to Google Inc.’s Terms and Conditions including the License Agreement and Terms of Application.<br>
            </p>
        </div>
        <div class="col-12">
            <h5 class="text-center">PART1: ALL USERS</h5>
            <ol style="list-style: none;">
                <li>
                    <h6>1.ELIGIBILITY</h6>
                    <ol  class="order-alpha" > 
                        <li>
                            This Platform is not intended for unsupervised use by any person under the age of 18 years old or any person who has previously been suspended or prohibited from using the Platform. By using the Platform, you represent and warrant that you are either:<br>
                            <ol class="order-roman">
                                <li> over the age of 18 years; or </li>
                                <li>accessing the Platform on behalf of someone under the age of 18 years old and consent to that person's use of the Platform.</li>
                            </ol>
                        </li>
                        <li>
                            Please do not access the Platform if you are under the age of 18 years old and do not have your parent or guardian's consent, or if you have previously been suspended or prohibited from using the Platform. 
                        </li>
                        <li>
                            If you use the Platform on behalf of a company or organisation you warrant that you have the necessary authority from that company or organisation to do so. If you are signing up not as an individual but on behalf of your company, your employer, an organisation, government or other legal entity (Represented Entity), then “you” or “User” means the Represented Entity and you are binding the Represented Entity to this agreement. If you are accepting these terms and using our Services on behalf of a Represented Entity, you represent and warrant that you are authorised to do so.
                        </li>
                        
                    </ol>   
                </li>

                <li>
                    <h6>2. ACCOUNTS</h6>
                    <ol style="list-style-type: lower-alpha;" class="order-alpha" > 
                        <li>
                            In order to use most of the functionality of the Platform, Users are required to sign-up, register and receive an account through the Platform (an Account). You may browse the Platform without creating an Account. 
                        </li>
                        <li>
                            As part of the Account registration process and your continued use of the Platform, you are required to provide personal information and details, such as your email address, first and last name, preferred username, a secure password, billing, postal and physical addresses, mobile phone number, business details and other information as determined by Truck Loads from time to time. 
                        </li>
                        <li>
                            You warrant that any information you give to Truck Loads in the course of completing the Account registration process will always be accurate, honest, correct and up to date.
                        </li>
                        <li>
                            Once you complete the Account registration process, Truck Loads may, in its absolute discretion, choose to accept you as a registered user within the Platform and provide you with an Account.
                        </li>
                        <li>
                            Truck Loads reserves the right to contact you about any concerning behaviour by you, or to seek a resolution with you.
                        </li>
                        <li>
                            Truck Loads may, in its absolute discretion, suspend or cancel your Account for any reason, including for any failure to comply with these terms.
                        </li>
                    </ol>   
                </li>

                <li>
                    <h6>3. JOB LISTINGS AND BIDDING PROCESS</h6>
                    <ol style="list-style-type: lower-alpha;" class="order-alpha" > 
                        <li>
                            A Customer can post the details of a transport or warehousing services that they require a Service Provider to perform on the Platform (<b class="font-weight-bolder">Job Listing</b>). When preparing a Job Listing, the Customer will set the amount of time they would like the Job Listing to remain active on the Platform (<b class="font-weight-bolder">Expiry</b>). 
                        </li>
                        <li>
                            A Service Provider may offer a price (inclusive of GST) to complete the Job Listing using the Platform’s functionality (<b class="font-weight-bolder">Bid</b>). The Job Listing will remain on the Platform available for Service Providers to offer lower Bids until Expiry.  
                        </li>
                        <li>
                            A Customer may remove or modify a Job Listing at any time before a Bid is made in respect of that Job Listing. 
                        </li>
                        <li>
                            The current Bid will be displayed on the Platform for each Job Listing. Other Service Providers may Bid a lower price than the previous Bid to perform the Job Listing. 
                        </li>
                        <li>
                            Each Service Provider may make a maximum of 5 Bids in respect of a particular Job Listing.
                        </li>
                        <li>
                            On Expiry, the Service Provider with the lowest Bid (<b class="font-weight-bolder">Final Bid</b>) will be engaged by the Customer to perform the services set out in the Job Listing (<b class="font-weight-bolder">Won</b>). 
                        </li>
                        <li>
                            An agreement is only formed between the Service Provider with the Final Bid and the Customer if a Job Listing is Won.  
                        </li>
                    </ol>   
                </li>

                <li>
                    <h6>4. USER OBLIGATIONS</h6>
                    <p>4.1  CORRESPONDENCE ON THE PLATFORM</p>
                    <ol style="list-style-type: lower-alpha;" class="order-alpha" > 
                        <li>
                            All correspondence between Users must take place on the Platform.  
                        </li>
                        <li>
                            You agree to ensure that your Account does not display any of your personal contact information at any time such that it can be viewed by any other User.   
                        </li>
                        <li>
                            You agree to not give your contact details to any other User.   
                        </li>
                        
                    </ol>
                    
                    <p class="m-0">4.2  GENERAL OBLIGATIONS OF USE</p>
                    <p class="m-0">As a User, you agree:</p>
                    <ol style="list-style-type: lower-alpha;" class="order-alpha" > 
                        <li>
                            not to intimidate, harass, impersonate, stalk, threaten, bully or endanger any other User or distribute unsolicited commercial content, junk mail, spam, bulk content or harassment;  
                        </li>
                        <li>
                            to not share your Account with any other person and that any use of your Account by any other person is strictly prohibited. You must immediately notify Truck Loads of any unauthorised use of your Account, password or email, or any other breach or potential breach of the Platform's security;   
                        </li>
                        <li>
                            to not use the Platform for any purpose other than for the purpose of making arrangements to provide or receive Services, including:   <br>

                            <ol class="order-roman">
                                <li> using the Platform in a manner that is illegal or fraudulent or facilitates illegal or fraudulent activity (including requesting or accepting a job which includes illegal activities or purposes); and </li>
                                <li>using the Platform in connection with any commercial or money making or other promotional or marketing endeavours except those that are endorsed herein, or as approved in writing by Truck Loads</li>
                            </ol>
                        </li>
                        <li>
                            not to act in any way that may harm the reputation of Truck Loads or associated or interested parties or do anything at all contrary to the interests of Truck Loads or the Platform;    
                        </li>
                        <li>
                            not to make any automated use of the Platform and not copy, reproduce, translate, adapt, vary or modify the Platform without the express written consent of Truck Loads; 
                        </li>
                        <li>
                            that Truck Loads may change any features of the Platform or Services offered through the Platform at any time without notice to you;   
                        </li>
                        <li>
                            that information given to you through the Platform, by Truck Loads or another User including a Service Provider, is general in nature and we take no responsibility for anything caused by any actions you take in reliance on that information; and
                        </li>
                        <li>
                            that Truck Loads may cancel your account at any time if it considers, in its absolute discretion, that you are in breach or are likely to breach this clause 4
                        </li>
                    </ol>
                </li>

                <li>
                    <h6>5. POSTED MATERIALS</h6>
                    <p class="m-0">5.1 WARRANTIES</p>
                    <p class="m-0"> By providing or posting any information, materials, Job Listings, or other content on the Platform (<b class="font-weight-bolder">Posted Material</b>), you represent and warrant that:</p>
                    <ol style="list-style-type: lower-alpha;" class="order-alpha" > 
                        <li>
                            you are authorised to provide the Posted Material (including by being authorised to provide any services that you represent you provide); 
                        </li>
                        <li>
                            the Posted Material is accurate and true at the time it is provided;  
                        </li>
                        <li>
                            any Posted Material which is in the form of a review or feedback is honest, accurate and presents a fair view of the relevant person and/or your experience;
                        </li>
                        <li>
                            the Posted Material is free from any harmful, discriminatory, defamatory or maliciously false implications and does not contain any offensive or explicit material;
                        </li>
                        <li>
                            the Posted Material is not "passing off" of any product or service and does not constitute unfair competition; </li>
                        <li>
                            the Posted Material does not infringe any Intellectual Property Rights, including copyright, trademarks, business names, patents, confidential information or any other similar proprietary rights, whether registered or unregistered, anywhere in the world;
                        </li>
                        <li>
                            the Posted Material does not contain any viruses or other harmful code, or otherwise compromise the security or integrity of the Platform or any network or system; and
                        </li>
                        <li>
                            the Posted Material does not breach or infringe any applicable laws.
                        </li>
                        
                    </ol>
                    
                    <p class="m-0">5.2 LICENCE</p>
                    <ol style="list-style-type: lower-alpha;" class="order-alpha" > 
                        <li>
                            You grant to Truck Loads a perpetual, irrevocable, transferable, worldwide and royalty-free licence (including the right to sublicense) to use, copy, modify, reproduce and adapt any Intellectual Property Rights in any Posted Material in order for Truck Loads to use, exploit or otherwise enjoy the benefit of such Posted Material.  
                        </li>
                        <li>
                            If it is determined that you retain moral rights (including rights of attribution or integrity) in any Posted Material, you forever release Truck Loads from any and all claims that you could assert against Truck Loads by virtue of any such moral rights.   
                        </li>
                        
                        <li>
                            You indemnify Truck Loads against all damages, losses, costs and expenses incurred by Truck Loads arising out of any third party claim that your Posted Material infringes any third party's Intellectual Property Rights.    
                        </li>
                        
                    </ol>

                    <p class="m-0">5.3 REMOVAL</p>
                    <ol style="list-style-type: lower-alpha;" class="order-alpha" > 
                        <li>
                            Truck Loads acts as a passive conduit for the online distribution of Posted Material and has no obligation to screen Posted Material in advance of it being posted. However, Truck Loads may, in its absolute discretion, review and remove any Posted Material (including links to you, your profile or listings you have posted on the Platform) at any time without giving any explanation or justification for removing the Posted Material.  
                        </li>
                        <li>
                            You agree that you are responsible for keeping and maintaining records of Posted Material.   
                        </li>
                        
                    </ol>

                    <p class="m-0">5.4 DEFINITIONS</p>
                    <p>In this clause 5, <b class="font-weight-bolder">"Intellectual Property Rights"</b> means all copyright, trade mark, design, patent,  trade, business, company and domain names, confidential and other proprietary rights, and any other rights to registration of such rights whether created before or after the date you first use the Platform both in Australia and throughout the world.</p>
                </li>

                <li>
                    <h6>6. CANCELLATIONS</h6>
                    <p>
                        Truck Loads will have no liability to you if a Customer or Service Provider cancels a Job Listing after it has been Won or does not perform part or any of the obligations they have agreed to perform in these terms or as set out in a Job Listing. You will not be entitled to any costs, expenses, damages or loss, including consequential loss from Truck Loads. 
                    </p>   
                </li>

                <li>
                    <h6>7. NO VERIFICATION</h6>
                    <p class="mt-0">You acknowledge and agree that:</p>
                    <ol style="list-style-type: lower-alpha;" class="order-alpha" > 
                        <li>
                            we are reliant on the information provided by Users when they create an Account and don’t conduct any verification services; 
                        </li>
                        <li>
                            while we require Service Providers to upload evidence of the relevant insurances they hold, we do not verify the information provided;  
                        </li>
                        <li>
                            you should make your own inquiries as to other Users’ identities before engaging in contracts with those Users; and 
                        </li>
                        <li>
                            we do not endorse any User or Job Listing. 
                        </li>
                        
                    </ol>   
                </li>


                <li>
                    <h6>8. RATINGS AND REVIEWS</h6>
                    <ol style="list-style-type: lower-alpha;" class="order-alpha" > 
                        <li>
                            Users may rate or provide feedback in respect of others they deal with on the Platform (<b class="font-weight-bolder">Review</b>).  
                        </li>
                        <li>
                            Ratings and Reviews of a User can be viewed by any User and will remain viewable until the relevant Service Provider’s or Customer’s (as applicable) Account is removed or terminated.
                        </li>
                        <li>
                            A User must provide true, fair and accurate information in their Review.
                        </li>
                        <li>
                            If we consider that the Review is untrue, unfair, inaccurate, offensive or inappropriate, we may delete the Review or ban the User from posting the Review. We do not undertake to review each Review made by a User. 
                        </li>
                        <li>
                            To the maximum extent permitted by law, we are not responsible for the content of any Reviews.
                        </li>
                        <li>
                            You may not publish Reviews for Users to which you have personal or professional relations.
                        </li>
                        <li>
                            You can write a Review about a User if you have had a buying or service experience with that User, which means that:<br>
                            <ol class="order-roman">
                                <li>you are a Customer and have engaged that Service Provider to perform a transport or warehousing service; or </li>
                                <li>you are a Service Provider and have performed transport or warehousing services for that Customer,</li>
                            </ol>
                            (collectively referred to as a <b class="font-weight-bolder">Service Experience</b>).
                        </li>
                        <li>
                            You may only write about your own Service Experience. You are not permitted to write a Review about somebody else’s Service Experience, such as that of a family member or friend.
                        </li>
                        <li>
                            Your Service Experience must have occurred within the last 12 months. This means within 12 months from the date on which you write the Review
                        </li>
                        <li>
                            You are encouraged to be specific and factual in your Reviews. If you have been offered an incentive by a Service Provider to write a Review, you should include information about this in your Review. Incentives include the Service Provider offering you a gift, reward, discount or advantage for writing a Review about the Service Provider on the Platform.
                        </li>
                    </ol>   
                </li>


                <li>
                    <h6>9. SERVICE LIMITATIONS</h6>
                    <p>The Platform is made available to you strictly on an 'as is' basis. Without limitation, you acknowledge and agree that Truck Loads cannot and does not represent, warrant or guarantee that:</p>
                    <ol style="list-style-type: lower-alpha;" class="order-alpha" > 
                        <li>
                            the Platform will be free from errors or defects;  
                        </li>
                        <li>
                            the Platform will be accessible at all times;
                        </li>
                        <li>
                            messages sent through the Platform will be delivered promptly, or delivered at all;
                        </li>
                        <li>
                            information you receive or supply through the Platform will be secure or confidential; or 
                        </li>
                        <li>
                            any information provided through the Platform is accurate or true.
                        </li>
                       
                    </ol>   
                </li>

                <li>
                    <h6>10. INTELLECTUAL PROPERTY </h6>
                    <ol style="list-style-type: lower-alpha;" class="order-alpha" > 
                        <li>
                            Truck Loads retains ownership of all materials developed or provided (or both, as the case may be) in connection with the Services (including text, graphics, logos, design, icons, images, sound and video recordings, pricing, downloads and software) (<b class="font-weight-bolder">Service Content</b>) and reserves all rights in any Intellectual Property Rights owned or licensed by it not expressly granted to you.  
                        </li>
                        <li>
                            You may make a temporary electronic copy of all or part of the Service Content for the sole purpose of viewing it and adapting it for the purpose of using the Services. You must not otherwise reproduce, transmit, adapt, distribute, sell, modify or publish the Service Content without prior written consent from Truck Loads or as permitted by law.
                        </li>
                        <li>
                            In this clause 10, <b class="font-weight-bolder">"Intellectual Property Rights"</b> means all copyright, trade mark, design, patent, semiconductor and circuit layout rights, trade, business, company and domain names, confidential and other proprietary rights, and any other rights to registration of such rights whether created before or after the date you first use the Platform both in Australia and throughout the world.
                        </li>
                        
                    </ol>   
                </li>


                <li>
                    <h6>11. THIRD PARTY CONTENT </h6>
                    <p>
                        The Platform may contain text, images, data and other content provided by a third party and displayed on the Platform (Third Party Content). Truck Loads accepts no responsibility for Third Party Content and makes no representation, warranty or guarantee about the quality, suitability, accuracy, reliability, currency or completeness of Third Party Content.
                    </p>   
                </li>
                
                <li>
                    <h6>12. ONLINE PAYMENT PARTNER AND THIRD PARTY TERMS </h6>
                    <ol style="list-style-type: lower-alpha;" class="order-alpha" > 
                        <li>
                            Truck Loads processes payments through the Platform using a third party payment provider (<b class="font-weight-bolder">Online Payment Partner</b>). Truck Loads current Online Payment Partner is Stripe however Truck Loads reserves the right to change the Online Payment Partner from time to time. In addition to these terms, your purchase of any services via the Platform will be subject to the terms and the privacy policy of the Online Payment Partner as updated from time to time and available on the Online Payment Partner's website.  
                        </li>
                        <li>
                            You agree to release Truck Loads and its employees and agents in respect of all liability for loss, damage or injury which may be suffered by any person arising from any act or omission of the Online Payment Partner, including any issue with security or performance of the Online Payment Partner's platform or any error or mistake in processing your payment.
                        </li>
                        <li>
                            Any other service that requires Truck Loads to acquire goods and services supplied by a third party on behalf of the User may be subject to the terms and conditions of that third party (<b class="font-weight-bolder">Third Party Terms</b>).
                        </li>
                        <li>
                            Users agree to familiarise themselves with any Third Party Terms applicable to any such goods and services and, by instructing Truck Loads to acquire the goods or services on the User’s behalf, the User will be taken to have agreed to such Third Party Terms
                        </li>
                    </ol>   
                </li>

                <li>
                    <h6>13. DISPUTES BETWEEN USERS </h6>
                    <ol style="list-style-type: lower-alpha;" class="order-alpha" > 
                        <li>
                            You should direct any issues, problems, complaints or dispute (Complaint) relating to another User to that User. Users must take all reasonable steps to resolve any Complaint with another User with that User.  
                        </li>
                        <li>
                            If any Complaint relating to the Platform remains unresolved after directing a Complaint to a relevant User, or if Complaint does not relate to another User, you must report it to Truck Loads via our email address set out on the Platform. We will assess the Complaint and attempt to quickly and satisfactorily resolve it. 
                        </li>
                        <li>
                            Any costs you incur in relation to a Complaint will be your responsibility.
                        </li>
                        <li>
                            Truck Loads has the option to appoint an independent mediator if needed to mediate the Complaint. The cost of any mediator must be shared equally between each of the parties to the Complaint.
                        </li>
                        <li>
                            Truck Loads reserves the right to hold funds in relation to a Complaint until the Complaint is resolved by the relevant parties or by a mediator.
                        </li>
                        <li>
                            If you have a Complaint about Truck Loads, you agree to notify us first and enter into discussion or mediation with us for a minimum of a 120 day period before pursuing any other proceedings.
                        </li>
                        <li>
                            Notwithstanding any other provision of this clause 13, you or Truck Loads may at any time cancel your Account or discontinue your use of the Platform.
                        </li>
                    </ol>   
                </li>
                <li>
                    <h6>14. SECURITY </h6>
                    <p>
                        Truck Loads does not accept responsibility for loss or damage to computer systems, mobile phones or other electronic devices arising in connection with your use of the Platform. You should take your own precautions to ensure that the process you employ to access the Platform does not expose you to the risk of viruses, malicious computer code or other forms of interference.
                    </p>
                </li>

                <li>
                    <h6>15. DISCLAIMER </h6>
                    <ol style="list-style-type: lower-alpha;" class="order-alpha" > 
                        <li>
                            (<b class="font-weight-bolder">Introduction service</b>) Truck Loads is a medium that facilitates the introduction of Customers and Service Providers for the purposes of providing transport and warehousing services. Truck Loads simply collects a service fee in consideration for providing this introduction service and does not have any obligations or liabilities to, and is not a party to any contract between, Customers and Service Providers in relation to such services or otherwise resulting from the introduction.   
                        </li>
                        <li>
                            (<b class="font-weight-bolder">Limitation of liability</b>) To the maximum extent permitted by applicable law, Truck Loads excludes completely all liability to any person for loss or damage of any kind, however arising whether in contract, tort (including negligence), statute, equity, indemnity or otherwise, arising from or relating in any way to the Platform or its use or any services provided by any Service Provider. This includes the transmission of any computer virus.
                        </li>
                        <li>
                            (<b class="font-weight-bolder">Disclaimer</b>) All express or implied representations and warranties are, to the maximum extent permitted by applicable law, excluded.
                        </li>
                        <li>
                            (<b class="font-weight-bolder">Consumer law</b>) Nothing in these terms is intended to limit the operation of the Australian Consumer Law contained in the Competition and Consumer Act 2010 (Cth) (ACL). Under the ACL, you may be entitled to certain remedies (like a refund, replacement or repair) if there is a failure with the goods or services we provide.
                        </li>
                        <li>
                            (<b class="font-weight-bolder">Indemnity</b>) You agree to indemnify Truck Loads and its employees and agents in respect of all liability for loss, damage or injury which may be suffered by any person arising from you or your representatives':<br>
                            <ol class="order-roman">
                                <li>breach of any provision of these terms;  </li>
                                <li>use of the Platform; or</li>
                                <li>your provision or receipt of services from another User.</li>
                            </ol>
                        </li>
                        <li>
                            (<b class="font-weight-bolder">Consequential loss</b>) To the maximum extent permitted by law, under no circumstances will Truck Loads be liable for any incidental, special or consequential loss or damages, or damages for loss of data, business or business opportunity, goodwill, anticipated savings, profits or revenue arising under or in connection with the Platform, these terms or their subject matter, or any services provided by any Service Provider (except to the extent this liability cannot be excluded under the Competition and Consumer Act 2010 (Cth)).
                        </li>
                    </ol>   
                </li>

                <li>
                    <h6>16. CONFIDENTIALITY </h6>
                    <p class="m-0">You agree that:</p>
                    <ol style="list-style-type: lower-alpha;" class="order-alpha" > 
                        <li>
                            no information owned by Truck Loads, including system operations, documents, marketing strategies, staff information and client information, may be disclosed or made available to any third parties; and   
                        </li>
                        <li>
                            all communications involving the details of Users are confidential and must be kept as such by you and must not be distributed nor disclosed to any third party.
                        </li>
                       
                    </ol>   
                </li>

                <li>
                    <h6>17. PRIVACY </h6>
                    <p>
                        You agree to be bound by our privacy policy (Privacy Policy), which can be accessed here <link>
                    </p>
                </li>

                <li>
                    <h6>18. COLLECTION NOTICE </h6>
                    <ol style="list-style-type: lower-alpha;" class="order-alpha" > 
                        <li>
                            We collect personal information about you in order to enable you to access and use the Platform, to contact and communicate with you, to respond to your enquiries and for other purposes set out in our Privacy Policy.  
                        </li>
                        <li>
                            Our Privacy Policy contains more information about how we use, disclose and store your information and details how you can access and correct your personal information.
                        </li>
                       
                    </ol>   
                </li>



                <li>
                    <h6>19. NOTICE REGARDING APPLE  </h6>
                    <p class="m-0">If you are accessing the Services from the Apple, Inc. (Apple) iOS Store, you acknowledge and agree that:</p>
                    <ol style="list-style-type: lower-alpha;" class="order-alpha" > 
                        <li>
                            these terms is between you and Truck Loads and not with Apple. Apple is not responsible for the Services or any content available on the Services; 
                        </li>
                        <li>
                            Apple has no obligation whatsoever to furnish any maintenance and support services for the Services;
                        </li>
                       <li>
                            in the event of any failure of Truck Loads to conform to any applicable warranty, you may notify Apple, and Apple will refund the price for the Services. To the maximum extent permitted by applicable law, Apple will have no other warranty obligation whatsoever with respect to the Services, and any other claims, losses, liabilities, damages, costs of expenses attributable to any failure to conform to any warranty will be Truck Loads’ responsibility;
                       </li>
                       <li>
                            Apple is not responsible for addressing any claims by you or any third party relating to the Services, including, but not limited to:<br>
                            <ol class="order-roman">
                                <li>product liability claims;  </li>
                                <li>any claim that the Services fails to conform to any applicable legal or regulatory requirement; and</li>
                                <li>claims arising under consumer protection, privacy, or similar legislation;</li>
                            </ol>
                       </li>

                       <li>
                            in the event of any third party claim that the Services or your use of the Services infringes any third party’s intellectual property rights, Apple will not be responsible for the investigation, defence, settlement and discharge of any such claim;
                       </li>

                       <li>
                            that you represent and warrant that:<br>
                            <ol class="order-roman">
                                <li>you are not located in a country that is subject to a U.S. Government embargo, or that has been designated by the U.S. Government as a “terrorist supporting’” country; and  </li>
                                <li>you are not listed on any U.S. Government list of prohibited or restricted parties;</li>
                            </ol>
                        </li>
                        <li>
                            you must comply with applicable third party terms of these terms when using the Services; and
                        </li>
                        <li>
                            Apple, and Apple’s subsidiaries, are third party beneficiaries of these terms, and that, upon your acceptance of these terms, Apple will have the right (and will be deemed to have accepted the right) to enforce these terms against you as a third party beneficiary.
                        </li>

                    </ol>   
                </li>

                <li>
                    <h6>20. TERMINATION</h6>
                    <p class="m-0">If you are accessing the Services from the Apple, Inc. (Apple) iOS Store, you acknowledge and agree that:</p>
                    <ol style="list-style-type: lower-alpha;" class="order-alpha" > 
                        <li>
                            Truck Loads reserves the right to terminate a User's access to any part of or all of the Platform at any time without notice, for any reason, including by terminating a User’s Account
                        </li>
                        <li>
                            Users may terminate their membership on Truck Loads at any time by using the Platform's functionality where such functionality is available. Where such functionality is not available, Truck Loads will effect such termination within a reasonable time after receiving written notice from the User.
                        </li>
                       <li>
                            In the event that a User's Account is terminated:<br>
                            <ol class="order-roman">
                                <li>the User's access to all posting and bidding functions on the Platform will be revoked; and</li>
                                <li>all Job Listings posted or Bids made by the User will be removed from the Platform. </li>
                            </ol>
                       </li>

                       <li>
                            Notwithstanding termination of your Account the provisions of Part 1 and any other provision of these terms which by its nature would reasonably be expected to be complied with after termination or expiry, will continue to apply.
                       </li>
                    </ol>   
                </li>

                <li>
                    <h6>21. TAX </h6>
                    <p>
                        You are responsible for the collection and remission of all taxes associated with the services you provide or receive or any other transactions through your use of the Platform. Truck Loads will not be held accountable in relation to any transactions between Customers and Service Providers where tax related misconduct has occurred.
                    </p>
                </li>
                

                <li>
                    <h6>22. RECORD / AUDIT </h6>
                    <p>
                        To the extent permitted by law, Truck Loads reserves the right to keep all records of any and all transactions and communications made through this Platform between you and other Users (including Job Listings, Bids, conversations, user posts, requests, offers, comments, feedback, cookies, and I.P. address information) for administration purposes and also holds the right to produce these records in the event of any dispute involving Truck Loads.
                    </p>
                </li>
                
                <li>
                    <h6>23. NOTICES</h6>
                    <ol style="list-style-type: lower-alpha;" class="order-alpha" > 
                        
                       <li>
                            A notice or other communication to any part of these terms must be:<br>
                            <ol class="order-roman">
                                <li>in writing and in English; and</li>
                                <li>delivered via email to the other party. In the case of User, the email address associated with the User’s Account and in the case of Truck Loads, the general contact email address set out on the Platform (<b class="font-weight-bolder">collectively the Email Address</b>).  </li>
                            </ol>
                       </li>
                       <li>
                            Unless the party sending the notice knows or reasonably ought to suspect that an email was not delivered to the other party's Email Address, notice will be taken to be given:<br>
                            <ol class="order-roman">
                                <li>24 hours after the email was sent; or</li>
                                <li>when replied to by the other party, </li>
                            </ol>
                            whichever is earlier.
                        </li>
                    </ol>   
                </li>

                <li>
                    <h6>24. GENERAL</h6>
                    <p class="m-0">24.1 GOVERNING LAW AND JURISDICTION</p>
                    <p class="m-0"> These terms are governed by the law applying in Victoria, Australia. Each party irrevocably submits to the exclusive jurisdiction of the courts of Victoria, Australia and courts of appeal from them in respect of any proceedings arising out of or in connection with these terms. Each party irrevocably waives any objection to the venue of any legal process on the basis that the process has been brought in an inconvenient forum.</p>
                   
                    <p class="m-0">24.2 WAIVER</p>
                    <p class="m-0"> No party to these terms may rely on the words or conduct of any other party as a waiver of any right unless the waiver is in writing and signed by the party granting the waiver.</p>
                   
                    <p class="m-0">24.3  SEVERANCE</p>
                    <p>Any provision of these terms which is wholly or partially void or unenforceable is severed to the extent that it is void or unenforceable. The validity and enforceability of the remainder of these terms is not limited or otherwise affected.</p>
                   

                    <p class="m-0">24.4  ENTIRE AGREEMENT</p>
                    <p>These terms embodies the entire agreement between the parties and supersedes any prior negotiation, conduct, arrangement, understanding or agreement, express or implied, in relation to the subject matter of these terms.</p>
                   
                    <p class="m-0">24.5 INTERPRETATION</p>
                    <ol style="list-style-type: lower-alpha;" class="order-alpha" > 
                        <li>
                            (<b class="font-weight-bolder">singular and plural</b>) words in the singular includes the plural (and vice versa);  
                        </li>
                        <li>
                            (<b class="font-weight-bolder">currency</b>) a reference to $; or "dollar" is to Australian currency;   
                        </li>
                        <li>
                            ( <b class="font-weight-bolder">gender</b>) words indicating a gender includes the corresponding words of any other gender;
                        </li>
                        <li>
                            ( <b class="font-weight-bolder">defined terms</b>) if a word or phrase is given a defined meaning, any other part of speech or grammatical form of that word or phrase has a corresponding meaning;
                        </li>
                        <li>
                            ( <b class="font-weight-bolder">person</b>) a reference to "person" or "you" includes an individual, the estate of an individual, a corporation, an authority, an association, consortium or joint venture ( <b class="font-weight-bolder">whether incorporated or unincorporated</b>), a partnership, a trust and any other entity;
                        </li>
                        <li>
                            ( <b class="font-weight-bolder">party</b>) a reference to a party includes that party's executors, administrators, successors and permitted assigns, including persons taking by way of novation and, in the case of a trustee, includes any substituted or additional trustee;
                        </li>
                        <li>
                            ( <b class="font-weight-bolder">these terms</b>) a reference to a party, clause, paragraph, schedule, exhibit, attachment or annexure is a reference to a party, clause, paragraph, schedule, exhibit, attachment or annexure to or of these terms, and a reference to these terms includes all schedules, exhibits, attachments and annexures to it;
                        </li>
                        <li>
                            ( <b class="font-weight-bolder">document</b>) a reference to a document ( <b class="font-weight-bolder">including these terms</b>) is to that document as varied, novated, ratified or replaced from time to time;
                        </li>
                        <li>
                            ( <b class="font-weight-bolder">headings</b>) headings and words in bold type are for convenience only and do not affect interpretation;
                        </li>
                        <li>
                            ( <b class="font-weight-bolder">includes</b>) the word "includes" and similar words in any form is not a word of limitation; and
                        </li>
                        <li>
                            ( <b class="font-weight-bolder">adverse interpretation</b>) no provision of these terms will be interpreted adversely to a party because that party was responsible for the preparation of these terms or that provision.
                        </li>
                    </ol>                    
                </li>
            </ol>
        </div>
        <div class="col-12">
            <h5 class="text-center">PART 2: SERVICE PROVIDERS</h5>
            <ol style="list-style: none;">
                <li>
                    <h6>1.ELIGIBILITY</h6>
                    <p>
                        It is your responsibility to verify that any Customer is over 18 years old or has their parent's or guardian's consent to use the Platform. Truck Loads makes no representations or warranties about a Customer’s age or authority to use the Platform.      
                    </p>
                </li>

                
                <li>
                    <h6>2. JOB LISTINGS AND BIDDING PROCESS</h6>
                    <ol style="list-style-type: lower-alpha;" class="order-alpha" > 
                        <li>
                            If you Bid on a particular Job Listing:<br>

                            <ol class="order-roman">
                                <li>that will constitute your offer and intention to enter into a contract with the Customer; and</li>
                                <li>you represent and warrant that you have the necessary skills, qualifications, experience and equipment required to fulfil a particular Job Listing.</li>
                            </ol>
                        </li>
                        <li>
                            You acknowledge and agree that each Bid is irrevocable and cannot be changed, even if it is accidentally submitted. You are responsible for all Bids made on the Platform using your Account. If you have accidentally submitted a Bid or made an error in the price for a Bid, please contact us immediately.  
                        </li>
                        
                    </ol>   
                </li>

                <li>
                    <h6>3. COMMUNICATION WITH CUSTOMERS</h6>
                    <ol style="list-style-type: lower-alpha;" class="order-alpha" > 
                        <li>
                            On creating an Account, Customers may elect to allow Service Providers to contact them through the Platform before a Job Listing is Won, or only after a Job Listing is Won. You cannot contact a Customer if they have not allowed Services Providers to contact them before the Job Listing has been Won, so if you are unsure if you can perform a particular Job Listing or require more information, please do not Bid on that Job Listing. 
                        </li>
                        <li>
                            Truck Loads will have no responsibility for the accuracy, reliability or timeliness of the content provided by a Customer in responding to communication regarding a Job Listing.  
                        </li>
                        
                        
                    </ol>   
                </li>


                <li>
                    <h6>4. COMPLETING A JOB </h6>
                    <ol style="list-style-type: lower-alpha;" class="order-alpha" > 
                        <li>
                            If you have Won a Job Listing, you must take all reasonable steps to complete the services as described in that Job Listing, including by not cancelling any part of such services. 
                        </li>
                        <li>
                            Any additional terms and conditions relating to a Job Listing or Bid via the Platform are solely between you and the Customer and do not involve Truck Loads in any way, except that they must not be inconsistent with your obligations under these terms.   
                        </li>
                        <li>
                            You must deal with any dispute with a Customer in accordance with clause 13 of Part 1
                        </li>
                        
                    </ol>   
                </li>

                
                <li>
                    <h6>5. FEES </h6>
                    <ol style="list-style-type: lower-alpha;" class="order-alpha" > 
                        <li>
                            Viewing the Platform and Bidding on a Job Listing is free. 
                        </li>
                        <li>
                            Once you have completed a Job Listing, you must use the functionality on the Platform to change the status of a Job Listing as complete (<b class="font-weight-bolder">Complete </b>).    
                        </li>
                        <li>
                            The Customer will be notified that you have changed the job status to Complete. If the Customer does not raise any Complaint with the services provided by you, the Customer will be prompted to pay the Final Bid via the Platform.  
                        </li>
                        <li>
                            Once we receive payment from the Customer, we will, within a reasonable amount of time, transfer the Final Bid to you minus the commission amount charged by us as set out on the Platform from time to time (<b class="font-weight-bolder">Service Fee </b>).
                        </li>
                        <li>
                            Truck Loads reserves the right to change or waive the Service Fee at any time by updating the Platform.
                        </li>
                        <li>
                            If the Customer raises a Complaint with the services performed by you, we may investigate this in accordance with clause 13 of Part 1 and reserve the right to withhold any payment for your services until such Complaint is resolved. 
                        </li>
                    </ol>   
                </li>

                <li>
                    <h6>6. REFUNDS & CANCELLATIONS</h6>
                    <p>6.1 CANCELLATION BY SERVICE PROVIDER </p>
                    <p>
                        Without limiting or otherwise affecting any other provision of these terms, if you wish to cancel some or all of the services of a Job Listing you have Won before you have fulfilled the requirements of the Job Listing, you must contact us using the Platform's functionality, and provide details as to why you are cancelling. If Truck Loads decides to investigate your request, you must provide assistance and information to Truck Loads as reasonably requested.
                    </p>
                    
                    <p class="m-0">6.2  CANCELLATION BY CUSTOMER </p>
                    <p class="m-0">You must ensure that your cancellation policy and refund policy in relation to Customers cancelling services is in compliance with all applicable laws.</p>
                    
                </li>

                <li>
                    <h6>7. BYPASSING </h6>
                    <ol style="list-style-type: lower-alpha;" class="order-alpha" > 
                        <li>
                            You agree that while you are a Service Provider on the Platform you will not, either directly or indirectly, solicit or attempt to solicit any business, work, income or other benefit, from any Customer whom you came to know about via the Platform, or with whom you previously provided services to directly or indirectly via the Platform. This provision will apply whether or not the Customer or their representative is still active on the Platform. 
                        </li>
                        <li>
                            Truck Loads may, in its absolute discretion, cancel your Account and suspend you from using the Platform if it finds or suspects that you have breached or are in breach of this clause 7.    
                        </li>
                        
                    </ol>   
                </li>

                <li>
                    <h6>8.  BINDING CONTRACT</h6>
                    <p>
                        You agree that when you submit a Bid in response to a Customer’s Job Listing, this constitutes your intention and offer to enter into a contract with the Customer, where you will provide the Customer with the service in the Job Listing in exchange for payment of the Final Bid (minus our Service Fee). A contract is formed in this respect once you have Won a Job Listing
                    </p>   
                </li>


                <li>
                    <h6>9. WARRANTIES </h6>
                    <p>By listing yourself as a Service Provider on the Platform and posting a Job Listing, you represent and warrant that:</p>
                    <ol style="list-style-type: lower-alpha;" class="order-alpha" > 
                        <li>
                            you are able to fulfil the requirements of the services set out in the Job Listing; 
                        </li>
                        <li>
                            you will provide the relevant services to Customers:    <br>
                            
                            <ol class="order-roman">
                                <li>using suitably qualified and trained personnel exercising due care and skill in a professional, efficient, diligent and safe manner, and to the best industry standards; and</li>
                                <li>in compliance with all applicable laws; and</li>
                            </ol>
                        </li>
                        <li>
                            any individuals involved in performing the relevant services have not been previously convicted of an indictable offence, and any companies involved in performing the relevant services have no current legal, criminal, civil or administrative proceedings against Truck Loads.
                        </li>
                        
                    </ol>   
                </li>

                <li>
                    <h6>10. INSURANCE </h6>
                    <ol style="list-style-type: lower-alpha;" class="order-alpha" > 
                        
                        <li>
                            You represent and warrant that you hold and will maintain (for as long as you Bid on Job Listings and perform Won Job Listings) all current insurances required to perform the Job Listings you Bid on and to cover your risks and liabilities under these terms, including (where relevant):    <br>
                            
                            <ol class="order-roman">
                                <li>professional indemnity insurance.</li>
                                <li>motor vehicle insurance</li>
                                <li>third party insurance; and </li>
                                <li>marine and cargo insurance for an amount not less than $500,000 per claim.</li>
                            </ol>
                        </li>
                        <li>
                            On creation of an Account, you are required to upload all relevant insurance documentation to prove your compliance with clause 10(a) above. We do not verify the insurances uploaded by you. 
                        </li>
                        <li>
                            We will attempt to notify you if your insurance (as set out in the insurance documents uploaded by you)  is approaching expiry, however we do not guarantee or warrant that we will do so and it is your responsibility to ensure that you maintain current insurance. 

                        </li>
                    </ol>   
                </li>
            </ol>
        </div>


        <div class="col-12">
            <h5 class="text-center">PART 3: CUSTOMERS</h5>
            <ol style="list-style: none;">
                
                <li>
                    <h6>1. JOB LISTINGS</h6>
                    <ol style="list-style-type: lower-alpha;" class="order-alpha" > 
                        <li>
                            You must use your best endeavours to provide as much information as possible in any Job Listing you upload to the Platform, including:<br>

                            <ol class="order-roman">
                                <li>the type of goods you require transporting or warehoused (Goods); </li>
                                <li>photographs of the Goods;</li>
                                <li>the dimensions and weight of the Goods; </li>
                                <li>
                                    the time and date of collection/delivery/pickup; and
                                </li>
                                <li>
                                    any other details specific to the Goods, including if the Goods are fragile or are required to be stored at a particular temperature. 
                                </li>
                            </ol>
                        </li>
                        <li>
                            Truck Loads may choose not to accept any Job Listing you submit to the Platform, and Truck Loads may limit the number of Job Listings you can submit on the Platform.   
                        </li>
                        <li>
                            Any additional terms and conditions relating to a Job Listing or Bid via the Platform are solely between you and the Service Provider and do not involve Truck Loads in any way, except that they must not be inconsistent with your obligations under these terms.
                        </li>
                        <li>
                            You must deal with any Complaint with a Service Provider in accordance with clause 13 of Part 1. 
                        </li>
                    </ol>   
                </li>

                <li>
                    <h6>2. COMMUNICATION WITH CUSTOMERS</h6>
                    <ol style="list-style-type: lower-alpha;" class="order-alpha" > 
                        <li>
                            On creating an Account, you may elect to allow Service Providers to contact you before a Job Listing is Won, or only after a Job Listing is Won. Service Providers cannot contact you if you have not allowed Services Providers to contact you before the Job Listing has been Won.   
                        </li>
                        <li>
                            You are responsible for the accuracy, reliability and timeliness of the content provided by you in all correspondence with a Service Provider.   
                        </li>
                        <li>
                            You must not communicate with a Service Provider, or request or entice a Service Provider to communicate with you, outside the Platform (except in the course of accepting the Service Provider's services).
                        </li>
                        <li>
                            Truck Loads, in its absolute discretion, may cancel your Account and suspend you from using the Platform if it finds or suspects that you have breached or are in breach of this clause 2.
                        </li>
                    </ol>   
                </li>

                <li>
                    <h6>3. PAYMENT</h6>
                    <ol style="list-style-type: lower-alpha;" class="order-alpha" > 
                        <li>
                            Viewing the Platform and posting a Job Listing is free.   
                        </li>
                        <li>
                            (<b class="font-weight-bolder"> Payment obligations</b>) You must pay the Final Bid amount once the Service Provider has performed the services set out in a Job Listing. 
                        </li>
                        <li>
                            (<b class="font-weight-bolder"> Card surcharges</b>) Truck Loads reserves the right to charge credit card surcharges if payments are made using a credit, debit or charge card (<b class="font-weight-bolder"> including Visa, MasterCard or American Express</b>).
                        </li>
                        <li>
                            (<b class="font-weight-bolder"> Pricing errors for a Bid</b>) If there is a pricing error or inaccuracy for any Bid, we may remove or correct the Bid. If the Bid is a Final Bid, you will have the option of accepting the corrected Bid or reposting the Job Listing.
                        </li>
                    </ol>   
                </li>

                <li>
                    <h6>4. CANCELLATIONS</h6>
                    <ol style="list-style-type: lower-alpha;" class="order-alpha" > 
                        <li>
                            Truck Loads will have no liability or obligation to you if a Service Provider does not perform part or any of the services set out in a Job Listing, or otherwise cancels a Job Listing it has Won before performing any services. You will not be entitled to any costs, expenses, damages or loss, including consequential loss from Truck Loads    
                        </li>
                        <li>
                            If you wish to cancel a Job Listing that has been Won before the Service Provider has provided the services set out in the Job Listing, you must contact the Service Provider. If Truck Loads decides to investigate your cancellation, you must provide assistance and information to Truck Loads as reasonably requested.
                        </li>
                       
                    </ol>   
                </li>


                
                <li>
                    <h6>5. LINKED BUSINESSES</h6>
                    <p>You acknowledge and agree that:</p>
                    <ol style="list-style-type: lower-alpha;" class="order-alpha" > 
                        <li>
                            the Platform provides links and introductions to Service Providers owned and operated by third parties that are not under the control of Truck Loads;    
                        </li>
                        <li>
                            the provision by Truck Loads of introductions to Service Providers does not imply any endorsement or recommendation by Truck Loads of any Service Provider; 
                        </li>
                       <li>
                        Truck Loads does not examine, determine or warrant the insurances, certification and/or licensing, competence, solvency or information of any Service Provider who uses or is listed on the Platform; and
                       </li>
                       <li>
                        any terms and conditions relating to a Job Listing or any other agreement to perform services constitute a contract between you and the Service Provider and do not involve Truck Loads in any way
                       </li>
                    </ol>   
                </li>


                
            </ol>
        </div>
    </div>
</div>


<link href="/public/assets/css/terms-condition.css">
<% include ../Partials/FooterLink  %>
<% include ../Partials/Footer  %>
<% include ../Partials/FooterRoot  %>