<% include ../Partials/HeaderRoot  %>
<% include ../Partials/Header %>



<div class="wrapper ">
    <% include ./loder %>
    <% include ./alert %>

    <div class="row pl-2 pr-2">
        <div class="col-12 slider">
            <div class="banner-container container d-flex justify-content-center">
                <div class="banner w-75 shadow-lg p-3 border rounded">
                    <h2>Warehouse</h2>
                    <p>
                        Find the Best Warehousing &
                        Fulfillment Companies!
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3 mb-3">
        <div class="col-12">
            <h2 class="text-center">
                The Only Unbiased Warehousing & Fulfillment Matchmaker
            </h2>
            <p class="text-center ">Connecting businesses with pre-screened warehousing companies since 2005</p>
        </div>
    </div>

    <!-- <div class="container bg-white ">
        <div class="row mt-2">
        
            <div class="col-4 d-flex justify-content-center">
                <div class="card shadow-lg w-100 ">
                    <div class="card-body d-flex justify-content-center ">
                        <img class="img-thumbanail " height="100"
                            src="/public/assets/images/gallery/FindTransport.svg">
                        <br>
                    </div>
                    <p class="text-center pl-1 pr-1">
                        We're the only company that truly researches warehousing companies and their capabilities online. From an assessment of their services and financial background, to a review of their performance metrics, we thoroughly pre-screen each provider so that we can match you with the best option for your business.
                    </p>
                    

                </div>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <div class="card shadow-lg w-100 ">
                    <div class="card-body d-flex justify-content-center">
                        <img class="img-thumbanail " height="100"
                            src="/public/assets/images/gallery/zeroCommission.svg">
                        <br>
                    </div>
                    <p class="text-center pl-1 pr-1">
                        You pay nothing to get warehouse recommendations. The warehouses pay us a small referral fee to get connected to you. This way, it remains a free service for you, and you don't have to worry about paying a higher rate that other "brokers" might charge. Furthermore, by only receiving a small fee we remain unbiased!
                    </p>
                </div>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <div class="card shadow-lg w-100 ">
                    <div class="card-body d-flex justify-content-center">
                        <img class="img-thumbanail  " height="100" src="/public/assets/images/gallery/like.svg">
                        <br>
                    </div>
                    <p class="text-center pl-1 pr-1">
                        You pay nothing to get warehouse recommendations. The warehouses pay us a small referral fee to get connected to you. This way, it remains a free service for you, and you don't have to worry about paying a higher rate that other "brokers" might charge. Furthermore, by only receiving a small fee we remain unbiased!
                    </p>
                </div>
            </div>
        </div>
        
    </div> -->

    <div class="container">
        <div class="row pt-2 pl-2 pr-2 pb-5 bg-white">
        
            <div class="col-md-6 ">
                <h2  class="">Screening of All Vendors</h2>
                <p>
                    If you’re looking to outsource your Fulfillment, Order Fulfillment, and Fulfillment Services for your business, we can help by getting you multiple price quotes from competing vendors. Searching online for a company to do your shipping takes too much time, and you don’t even know if the company you choose will do a good job. We’ve pre-screened companies all throughout the U.S., Canada, and the UK. Many pick and pack companies that contact us don’t get selected to be a part of our network because we have extremely high standards when it comes to screening. We look at a number of different factors, including their shipping error rates, customer referrals, and many different business factors.
                </p>
            </div>
            <div class="col-md-6 ">
                <img class="img-thumbnail border-0 image" src="/public/assets/images/gallery/vendor.jpg">
            </div>
    
            <div class="col-md-6 mt-5">
                <img class="img-thumbnail border-0 image" src="/public/assets/images/gallery/employees.jpg">
            </div>
    
            
            <div class="col-md-6 mt-5">
                <h2 class="  ">Employees From the Fulfillment Industry</h2>
                <p>
                    We know the Fulfillment and Logistics industry because members of our team used to run Warehousing companies and Fulfillment Houses. So we can provide you with unbiased referrals and advice about all of your Outsourced Fulfillment and 3PL needs. A lot of times we have small businesses contact us to help them understand and navigate the complex landscape of this industry. From understanding how these types of businesses operate, to basic information about how these firms price their services, we are here to help you with general information.
                </p>                
            </div>
            
            
            <div class="col-md-6 mt-5">
                <h2 class="">Helping Companies of All Sizes</h2>
                <p>
                    Whether you’re a small start up company that wants to focus on sales and marketing, or a large company that needs to outsource Third Party Logistics, we can help. The warehousing companies that we work with have locations all throughout the US, Canada and the UK – so you can rest assured that we can cover international and local needs alike.
                </p>
            </div>
    
            <div class="col-md-6 mt-5">
                <img class="img-thumbnail border-0 image"  src="/public/assets/images/gallery/companies.jpg">
            </div>


            <div class="col-md-6 mt-5">
                <img class="img-thumbnail border-0 image"  src="/public/assets/images/gallery/recommendations.jpg">
            </div>

            <div class="col-md-6 mt-5">
                <h2 class="">Recommendations</h2>
                <p>
                    Sometimes companies need very specific referrals for E-commerce Fulfillment, or other services. We know that each situation is different – and we’ve found firms in every niche so that you’ll be matched with the solution that is tailored to your unique situation. And we strive to make the whole process easy – so if you prefer to be contacted by email, just let us know and we’ll make sure that our vendors reach you by email instead of phone.
                </p>
            </div>
            

        </div>
    </div>
</div>


<link rel="stylesheet" href="/public/assets/css/warehouse.css">

<% include ../Partials/FooterLink  %>
<% include ../Partials/Footer %>
<% include ../Partials/FooterRoot  %>


