<% include ./overview %>



<div class="row  mt-3 ">
    <div class="col-12">
        <div class="card ">
            <div class="card-body shipper-card">
                <h4 class="mt-0 header-title mb-5">Feedback</h4>

                <div>
                    <table id="feedback" class="display table" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Phone</th>
                                <th>Ratings</th>
                            </tr>
                        </thead>
                        <tbody>
                             

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    

    
</div>

<link rel="stylesheet" href="/public/assets/css/admin/feedback.css">
<script src="/public/assets/js/feedback.js"></script>