<% include ./overview %>



<div class="row mt-3" >
    <div class="col-12">
        <div class="card">
            <div class="card-body passbook-card     ">
                <div class="clearfix">
                    <div class="float-left">
                <h4 class="mt-0 header-title mb-4">Payments</h4>

                    </div>
                    <div class="float-right">
                        <button class="btn btn-sm btn-primary text-dark">Print Statement</button>
                    </div>

                </div>
                <table id="passbook" class="display table" width="100%"></table>

            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="/public/assets/css/admin/payment.css">
<script src="/public/assets/js/payment.js"></script>
