
  <form id="carrier-profile-form">
    <div class="row profile">
        <% include ./carrier-form %>
        <div class="col-12 mt-2 ">
            <div class="form-check agree">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input terms" value="" name="terms_and_cond">I agree that
                    Truck Loads is not responsible for the actions of 
                    participating on this site. <a href="/terms-condition"><u>Terms and Conditions</u></a>
                </label>
            </div>
        </div>
    </div>
    
    <button type="submit" name="next" class="btn btn-primary mt-3 mb-3 signup-button" value="button" >Register</button>
</form> 

