<form class="form-horizontal user-rating-form m-t-30">
    <div class="form-group mt-5">
        <label for="user">Do you want to show your Name?</label>
        <select name="user-type" class="custom-select">
            <option selected>Bryan</option>
            <option value="anonymous">Anonymous</option>
            
          </select>
    </div>
    <div class="form-group">
        <label for="ratings">ratings</label>
        <span class="user-rating">
            <input type="radio" name="rating" value="5"><span class="star"></span>
            <input type="radio" name="rating" value="4"><span class="star"></span>
            <input type="radio" name="rating" value="3"><span class="star"></span>
            <input type="radio" name="rating" value="2"><span class="star"></span>
            <input type="radio" name="rating" value="1"><span class="star"></span>
        </span>
    </div>
    <div class="form-group">
        <label for="review">comments</label>
        <textarea id="review" name="review" rows="8" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary text-dark">Submit</button>
    </div>
</form>
<script>
    jQuery(() => {
        $('.user-rating-form').on('change', '[name="rating"]', function () {
            ($('[name="rating"]:checked').val());
        });
    })
</script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/public/assets/css/ratings.css">