<form id="carrier-fleet-form">
    <script>
        var userId = "<%= userId %>"
    </script>
    <% include ./fleet-form %>
    <button type="submit" name="next" class="btn btn-primary mt-3 mb-3 fleet-button" value="button">Submit</button>
</form>

