
<form class="form-horizontal m-t-30" id="forget-password-form" >

    <div class="form-group">
        <label for="username"  class="small font-weight-bolder">Email</label>
        <input type="email" id="email" class="form-control" id="email" placeholder="Enter Email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" title="Invalid Email" required>
    </div>

    <div class="form-group row mt-2">
        <div class="col-sm-6 ">
            <button class="btn btn-primary w-md waves-effect waves-light mt-4 forget-password-button" type="submit">Send</button>
        </div>
    </div>

</form>