
<form id="shipper-profile-form">

    <% include ./shipper-form %>
    <div class="col-12 mt-3 pl-0 ">
        <div class="form-check agree">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input terms-condition" value="" name="terms_and_cond">I agree that
                Truck Loads is not responsible for the actions of 
                participating on this site. <a href="/terms-condition"><u>Terms and Conditions</u></a>
            </label>
        </div>
    </div>

<button type="submit" id="submit" class="btn btn-primary mt-3 mb-3 signup-button" value="button">Register</button>

</form>
