<form>
    <div class="row text-primary pl-3">
        <div class="col-12">
            <h5 class="bg-primary p-1 text-dark"> <u>Customer Type</u></h5>
           
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="business" name="example1" value="business">
                <label class="custom-control-label" for="business">Business Only</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="business_induvidual" name="example1" value="business_induvidual">
                <label class="custom-control-label" for="business_induvidual">Business and Induvidual</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="induvidual" name="example1" value="induvidual">
                <label class="custom-control-label" for="induvidual">Induvidual Only</label>
              </div>
        </div>
        <div class="col-12 ">
            <h5 class="bg-primary text-dark p-1"><u>Categories</u></h5>
            <div class="small select">Select All</div>
           
            <div class="custom-control mb-2 mt-2 custom-switch">
                <input type="checkbox" class="custom-control-input checkbox" id="cars">
                <label class="custom-control-label" for="cars" name="cars">Cars</label>
            </div>
            <div class="custom-control mb-2 mt-2 custom-switch">
                <input type="checkbox" class="custom-control-input checkbox" id="bike">
                <label class="custom-control-label" for="bike" name="bike">Bike</label>
            </div>
            <div class="custom-control mb-2 mt-2 custom-switch">
                <input type="checkbox" class="custom-control-input checkbox" id="furniture">
                <label class="custom-control-label" for="furniture" name="furniture">Furniture</label>
            </div>
            <div class="custom-control mb-2 mt-2 custom-switch">
                <input type="checkbox" class="custom-control-input checkbox" id="boat">
                <label class="custom-control-label" for="boat" name="boat">Boat</label>
            </div>
            <div class="custom-control mb-2 mt-2 custom-switch">
                <input type="checkbox" class="custom-control-input checkbox" id="home">
                <label class="custom-control-label" for="home" name="home">Home</label>
            </div>
            <div class="custom-control mb-2 mt-2 custom-switch">
                <input type="checkbox" class="custom-control-input checkbox" id="pallets">
                <label class="custom-control-label" for="pallets" name="pallets">Pallets</label>
            </div>
            <div class="custom-control mb-2 mt-2 custom-switch">
                <input type="checkbox" class="custom-control-input checkbox" id="waste">
                <label class="custom-control-label" for="waste" name="waste">Waste</label>
            </div>
            <div class="custom-control mb-2 mt-2 custom-switch">
                <input type="checkbox" class="custom-control-input checkbox" id="truck">
                <label class="custom-control-label" for="truck" name="truck">Truck</label>
            </div>
            <div class="custom-control mb-2 mt-2 custom-switch">
                <input type="checkbox" class="custom-control-input checkbox" id="other_vehicle">
                <label class="custom-control-label" for="other_vehicle" name="other_vehicle">Other Vehicle</label>
            </div>
            <div class="custom-control mb-2 mt-2 custom-switch">
                <input type="checkbox" class="custom-control-input checkbox" id="houlage">
                <label class="custom-control-label" for="houlage" name="houlage">Houlage</label>
            </div>
            <div class="custom-control mb-2 mt-2 custom-switch">
                <input type="checkbox" class="custom-control-input checkbox" id="livestock">
                <label class="custom-control-label" for="livestock" name="livestock">Pets & Livestock</label>
            </div>
            <div class="custom-control mb-2 mt-2 custom-switch">
                <input type="checkbox" class="custom-control-input checkbox" id="heavy">
                <label class="custom-control-label" for="heavy" name="heavy">Heavy</label>
            </div>
            <div class="custom-control mb-2 mt-2 custom-switch">
                <input type="checkbox" class="custom-control-input checkbox" id="agriculture">
                <label class="custom-control-label" for="agriculture" name="agriculture">Agriculture</label>
            </div>
            <div class="custom-control mb-2 mt-2 custom-switch">
                <input type="checkbox" class="custom-control-input checkbox" id="machine">
                <label class="custom-control-label" for="machine" name="machine">Machine</label>
            </div>
            <div class="custom-control mb-2 mt-2 custom-switch">
                <input type="checkbox" class="custom-control-input checkbox" id="automotie">
                <label class="custom-control-label" for="automotie" name="automotie">Automotie</label>
            </div>
            <div class="custom-control mb-2 mt-2 custom-switch">
                <input type="checkbox" class="custom-control-input checkbox" id="refrigrated">
                <label class="custom-control-label" for="refrigrated" name="refrigrated">Refrigrated</label>
            </div>
            
        </div>
    </div>
    <div class="text-left mt-3 p-3">
    <button type="submit" class="btn  btn-primary  ">Search</button>
    </div>
</form>